body {
    background-image: url("../images/straws_@2X.png") !important;
}
.navContainer {
    margin: 0 auto;
    width: 100%;
    /*background-color: #fff;*/
}

.navbar {
    max-width: 980px;
}

.navbar a {
    text-decoration: none;
}

.nav-link:hover {
	 	background-color:#17a2b8;
		color: white !important;
    }

    .nav-link a:hover{
		color: white !important;

    }
    
   
.fixed-bottom {
    max-width: 100%;
    border-top: 7px solid #17a2b8;
}

 .col-md-5 {
     background-color: #e4fcff;
 }  

 .col-md-12 {
    border-top: 1px solid #17a2b8;
 }
 

 